:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
  }
  

/* start box */
.d-flex{
display: flex;
}
.align-center{align-items: center;}
.space-between{
    justify-content: space-between;
}
.d-grid {display: grid;}
.gap-20{
    gap: 20px;
}
.d-block{display: block;}
@media(max-width: 767px){
    .block-mobile{
        display: block;
    }
    .hide-mobile{display: none;}
}

/* end box */
/* start padding margin*/
.p-10{padding: 10px;}

.p-20{
    padding: 20px;
}
.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.m-0{margin: 0;}
.m-15{margin: 15px;}
.m-20{
    margin: 20px;
}
.mt-0{margin-top: 0;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
/* end padding margin*/
/* start color*/
.bg-white{background-color: white;}
.bg-eee{background-color: #eee;}
.bg-blue{
   background-color: var(--blue-color);
}
.c-white {
    color: white;
  }
.c-black{
    color: black;
}
.c-orange{color: var(--orange-color);}
.c-grey{color: var(--grey-color);}
/* end color*/
/* start position*/
.p-relative{position: relative;}

/* end position*/
/* start font*/
.txt-c{
    text-align: center;
}
.fs-13 {
    font-size: 13px;
  }
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
@media(max-width: 767px){
    .txt-c-mobile{
        text-align: center;
    } 
}
/* end font*/
/* start border*/
.rad-6{border-radius: 6px;}
.rad-10{border-radius: 10px;}
.rad-half {
    border-radius: 50%;
  }
.b-none{
    border: none;
}
.border-ccc{
    border: 1px solid #ccc;
}
/* end border*/
/* start components*/
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
  }
.w-full{width:100%;}

/* end  components*/